<!DOCTYPE html>
<html>
  <head>
    <title>신명상(sms)</title>
    <%= csrf_meta_tags %>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
